<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="icon" type="image/png" href="/images/logo.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include('./blocks/header.ejs') %>
    <main>
        <div class="error-container">
            <h1 class="error-code">404</h1>
            <h2 class="error-description">Game Over!</h2>
            
            <p>Такой страницы нет! Попробуй заново</p>
            <a href="/" class="error-home-link">На главную</a>
        </div>
    </main>
</body>
</html>