<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="icon" type="image/png" href="/images/icon.webp">

    <!-- Стили -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="error-container">
            <h1 class="error-code">404</h1>
            <h2 class="error-description">Game Over!</h2>
            
            <p>Такой страницы нет! Попробуй заново</p>
            <a href="/" class="error-home-link">На главную</a>
        </div>
    </main>
</body>
</html>