<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Kitty Guests</title>
    <link rel="icon" type="image/png" href="/images/logo.png">

    <!-- Стили -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include('./blocks/header.ejs') %>
    <main></main>
    <script src="/js/client.js"></script>
</body>
</html>