<header class="header">
    <div class="container">
        <a href="/" class="header-home-link">
            <!-- Не разобралась, как сделать видео с прозрачным фоном... 
            Если разбурусь, конвертирую в WebM-->
            <img src="/images/logo.gif" alt="Анимированный логотип Hello Kitty" class="header-logo">
        </a>

        <h1 class="header-title">Hello Kitty <span class="coral">Island</span></h1>
        
        <nav class="header-navigation">
            <a href="#upload" class="header-nav-link">Загрузить скрины</a>
            <a href="#gallery" class="header-nav-link">Галерея</a>
        </nav>
    </div>
</header>